@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Strait, sans-serif;
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
}

body {
    background-color: black;
}